// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-bio {
    height: 360px;
}

.artwork {
    min-width: 100px;
    .work-image {
        height: 150px;
    }

    &:hover {
      background-color: rgba($snow, 0.5);
    }
}
