.col-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  .item-overlay {
    position: absolute;
    visibility: hidden;
    height: 48px;
    z-index: 5;
  }

  &:hover {
    .item-overlay {
      visibility: visible;
    }
  }
}