// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.row-bio {
    height: 360px;
}

.artwork {
    min-width: 100px;
    .work-image {
        height: 150px;
    }

    &:hover {
      background-color: rgba($snow, 0.5);
    }
}

.avatar-img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.artist-description {
  max-height: 18rem;
}

.artist-description::-webkit-scrollbar-track {
  background: $snow; 
}

.artist-description::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  }
  
.artist-description::-webkit-scrollbar-thumb {
  background: $denim;  
  border-radius: 10px;
  }
  
.artist-description::-webkit-scrollbar-thumb:hover {
  background: darken($denim, 10%); 
}

.incomplete-profile {
  .complete, .incomplete{
    width: 20px;
    height: 20px;
    border: 2px solid $denim;
  }

  .complete {
    background-color: $denim;

    &:after {
      content: url("checkmark.svg");
    }
  }

  .incomplete {
    background: rgba($denim, 0.1);
  }
}
