.buyer-contents-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .buyer-contents {
    display: flex;
    flex-direction: row;
  }
}

.buyer-profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
