.artwork-description::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    }
    
.artwork-description::-webkit-scrollbar-thumb {
background: $magenta;  
border-radius: 10px;
}

.artwork-description::-webkit-scrollbar-thumb:hover {
background: $magenta;  
}