.loginPage {
  background-color: $snow;
  @extend .vh-100;
  @extend .pt5;

  .container {
    @extend .center;
    @extend .mw6;
    @extend .vh-75;
    @extend .pa4;

    form {
      margin: 36px 0;
    }

    &.signup.part2 {
      @extend .mw7;
    }
  }
  a {
    @extend .mustard;
    cursor: pointer;
    
    &:hover {
			text-decoration: underline;
		}
  }

  input {
    border-style: none;
  }
  
  input[type="checkbox"] {
    &:after {
      background-color: $white;
    }

    &:checked:after {
      background-color: $mustard;
    }
  }

  button[disabled="disabled"], input[disabled="disabled"] {
    background-color: $gray;
  }

  .terms {
     @extend .bg-white;
     @extend .mb4;
     @extend .h-100;
     @extend .overflow-y-scroll;
     @extend .pa4;
     @extend .f6;

     p {
      @extend .mv3;
     }

     ol {
      @extend .ml3;
     }
  }
}
