.loginPage {
  background-color: $snow;
  @extend .vh-100;
  @extend .pt5;

  .container {
    @extend .center;
    @extend .mw6;
    @extend .vh-75;
    @extend .pa4;

    form {
      margin-bottom: 18px;
    }


    label {
      font-family: $font;
      display: block;
      margin-bottom: 18px;
    }

    .field {
      width: 100%;
      height: 48px;
    }

    input.field {
      border-style: none;
      padding: 0 12px;
    }

    .button {
      width: 100%;
      height: 48px;
      background-color: $charcoal;
      color: $white;
      text-transform: uppercase;
      font-family: $font;
    }

  }
}
