.content-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .request-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .request-action {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.closed-request-button {
  font-size: 16px;
  background-color: $snow;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .request-button {
    float:none;
  }

  .closed-request-button {
    float:none;
    width:40%;
    display:inline-block;

  }
}

.request {
  display: flex;
  flex-direction: row;

  .img {
    object-fit: cover;
    width: 200px;
    height: 200px;
  }

  .request-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .attr-container {
    border: 1px solid $snow;
    background-color: rgba($snow, 0.4);
  }

  .attr {
    display: flex;
    flex-direction: row;
    width: 100%;

    .key {
      width: 200px;
    }

    .value {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    .attr-item {
      @extend .mb2;

      &:last-child {
        margin: 0;
      }
    }
  }
}

.request-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.toggle-hover:hover {
  background-color: $pale-gray;
}
