.transactions-page {
  padding-top: 64px;
  padding-left: 100px;
  padding-right: 100px;
  flex: 1;
  font-size: 16px;
  line-height: 20px;
}

.record-button {
  background-color: #D69B31;
  border: none;
  color: white;
  width: 168px;
  height: 48px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

.create-transaction-form {
  text-align: left;

  .submit {
    margin-top: -50px;
    color: white;
  }

  .price {
    margin-top: 20px;
  }

  .error {
    font-size: 12px;
    color: red;
  }
}
