<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Request Opened</h1>
    <p>
      Your request for <%= @work.title %> has been marked as completed by the artist. <br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>