<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Request Deleted</h1>
    <p>
      Your request for <%= @title %> has been deleted because the
      associated work has been deleted by the artist and is no longer
      able to be requested. <br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
