<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Commission Opened</h1>
    <p>
      <%= @buyer.name %> has opened a new commission for you. <br>
    </p>
    <h2>
      Contact Info:
    </h2>
    <p>
      Email: <%= @buyer.email %> <br>
    </p>
    <% if @buyer.phone_number %>
      <p>
        Phone: <%= @buyer.phone_number %> <br>
      </p>
    <% end %>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
