<div class="terms">
	Terms of Use Agreement
	<p>Effective Date: This Terms of Use Agreement (the “Agreement”) was last updated on February 18, 2019.</p>
	<p>This Terms of Use Agreement sets forth the standards of use of the website www.sfai.edu/artistregistry (the “Site”) operated by San Francisco Art Institute (“San Francisco Art Institute” or “we” or “us”). By using the Site, you (“you” or the “Member”) agree to these terms and conditions. If you do not agree to the terms and conditions of this Agreement, you should immediately cease all usage of the Site. We reserve the right, at any time, to modify, alter, or update the terms and conditions of this agreement without prior notice. Modifications shall become effective immediately upon being posted at the Site. Your continued use of the Site after amendments are posted constitutes an acknowledgement and acceptance of the Agreement and its modifications. Except as provided in this paragraph, this Agreement may not be amended.</p>

	<ol>
		<li>Description of Service

		<p>San Francisco Art Institute is providing Member with access to buy and/or sell artwork. Each Member must provide (1) all equipment necessary for his or her own Internet connection and (2) provide for Member’s access to the Internet, and (3) pay any fees related to such connection.</p>
		</li>

		<li>Disclaimer of Warranties.

		<p>The Site is provided San Francisco Art Institute on an “as is” and on an “as available” basis. To the fullest extent permitted by applicable law, San Francisco Art Institute makes no representations or warranties of any kind, express or implied, regarding the use or the results of the Site in terms of its correctness, accuracy, reliability, or otherwise. San Francisco Art Institute shall have no liability for any interruptions in the use of the Site. San Francisco Art Institute disclaims all warranties with regard to the information provided, including the implied warranties of merchantability and fitness for a particular purpose, and non-infringement. Some jurisdictions do not allow the exclusion of implied warranties; therefore, the above-referenced exclusion may be inapplicable.</p></li>

		<li>Limitation of Liability

		<p>SAN FRANCISCO ART INSTITUTE SHALL NOT BE LIABLE FOR ANY DAMAGES WHATSOEVER, AND IN PARTICULAR SAN FRANCISCO ART INSTITUTE SHALL NOT BE LIABLE FOR ANY SPECIAL, INDIRECT, CONSEQUENTIAL, OR INCIDENTAL DAMAGES, OR DAMAGES FOR LOST PROFITS, LOSS OF REVENUE, OR LOSS OF USE, ARISING OUT OF OR RELATED TO THE SITE OR THE INFORMATION CONTAINED IN IT, WHETHER SUCH DAMAGES ARISE IN CONTRACT, NEGLIGENCE, TORT, UNTER STATUTE, IN EQUITY, AT LAW, OR OTHERWISE, EVEN IF SAN FRANCISCO ART INSTITUTE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW FOR THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES; THEREFORE SOME OF THE ABOVE LIMITATIONS MAY BE INAPPLICABLE.</p></li>

		<li>Indemnification

		<p>Member agrees to indemnify and hold San Francisco Art Institute, its affiliates, officers and employees, harmless from any claim or demand, including attorneys’ fees and costs, made by any third party due to or arising out of Member’s use of the Site, the violation of this Agreement, or violation of any law by Member.</p></li>

		<li>Modifications and Interruption to Site

		<p>San Francisco Art Institute reserves the right to modify or discontinue the Site with or without notice to the Member. San Francisco Art Institute shall not be liable to Member or any third party should San Francisco Art Institute exercise its right to modify or discontinue the Site. Member acknowledges and accepts that San Francisco Art Institute does not guarantee continuous, uninterrupted or secure access to the Site, and operation of the Site may be interfered with or adversely affected by numerous factors or circumstances outside of San Francisco Art Institute’s control.</p></li>

		<li>Disclaimer Regarding Accuracy of Vendor Information

		<p>Specifications about and other information regarding artwork for sale on the Site have been provided by individual sellers and is not verified by San Francisco Art Institute. While San Francisco Art Institute makes every effort to ensure that the information on the Site is accurate, we can make no representations or warranties as to the accuracy or reliability of any information provided on the Site.</p>

		<p>San Francisco Art Institute makes no warranties or representations whatsoever with regard to any product provided or offered by any seller, and you acknowledge that any reliance on representations and warranties provided by any Vendor shall be at your own risk.</p></li>

		<li>Information for Customers

		<p>Purchases of items from the Site are governed by the terms set forth in the San Francisco Art Institute Customer FAQ at https://www.San Francisco Art Institute.com/Faq.aspx?RC=1.
		Unless otherwise stated, all prices on the Site are in U.S. Dollars. Customers (that is, purchasers of items from the Site) are responsible for paying all fees and applicable taxes in a timely manner with a valid payment method. If a Customer’s payment method fails, San Francisco Art Institute may collect fees owed using other collection mechanisms.</p></li>

		<li>Governing Jurisdiction of the Courts of California

		<p>The site is operated and provided in the State of California. As such, we are subject to the laws of the State of California, and such laws will govern this Agreement, without giving effect to any choice of law rules. We make no representation that the Site or other services are appropriate, legal or available for use in other locations. Accordingly, if you choose to access the Site you agree to do so subject to the internal laws of the State of California.</p></li>

		<li>Compliance with Laws.

		<p>Member assumes all knowledge of applicable law and is responsible for compliance with any such laws. Member may not use the Site in any way that violates applicable state, federal, or international laws, regulations or other government requirements. Member further agrees not to transmit any material that encourages conduct that could constitute a criminal offense, give rise to civil liability or otherwise violate any applicable local, state, national, or international law or regulation.</p></li>

		<li>Copyright and Trademark Information

		<p>By submitting to San Francisco Art Institute any images of artwork for sale on the Site (“Images”), you warrant and represent that you own all rights, including but not limited to all U.S. copyright rights, in and to the Images. You grant to San Francisco Art Institute the worldwide, perpetual, irrevocable, royalty-free, sublicensable right and license to reproduce and prepare derivative works of the Images for the purpose of advertising the Images for sale on the Site. To the extent that you do not own all rights in and to the Images or that San Francisco Art Institute’s use of any of the Images as permitted under this Agreement infringes or otherwise violates the rights of any third party, you agree to indemnify and hold San Francisco Art Institute harmless from any claims or demands, including attorneys’ fees and costs, incurred by San Francisco Art Institute with respect thereto.</p>

		<p>All images on the Site are either owned by San Francisco Art Institute or the SFAI affiliated artist and may not be reproduced or used in any manner without the express written permission of San Francisco Art Institute and, if appropriate, the relevant artist. Copyright © 2019 San Francisco Art Institute. All rights reserved. All physical artwork is owned solely by the individual artists represented here and are subject to United States and International copyright laws.</p>

		<p>SAN FRANCISCO ART INSTITUTE, and the SAN FRANCISCO ART INSTITUTE logo are trademarks owned by San Francisco Art Institute and may not be used without prior written permission of San Francisco Art Institute</p>
		</li>
	</ol>

	<p>Other Terms</p>

	<p>If any provision of this Agreement shall be unlawful, void or unenforceable for any reason, the other provisions (and any partially-enforceable provision) shall not be affected thereby and shall remain valid and enforceable to the maximum possible extent. You agree that this Agreement and any other agreements referenced herein may be assigned by San Francisco Art Institute in its sole discretion, to a third party in the event of a merger or acquisition. This Agreement shall apply in addition to, and shall not be superseded by, any other written agreement between us in relation to your participation as a Member. Member agrees that by accepting this Agreement, Member is consenting to the use and disclosure of his or her personally identifiable information and other practices described in the San Francisco Art Institute Privacy Statement.</p>
</div>