$black                  : #000000;
$charcoal               : #1F1F1F;
$gray                   : #929292;
$snow                   : #ECECEC;
$white                  : #FFFFFF;

$text                   : #131313;

// SFAI COLORS
$mustard                : #D69B31;
$magenta                : #CC2E78;
$indigo                 : #676BBE;
$violet                 : #A03DC4;
$pumpkin                : #EF5A28;
$ochre                  : #EA9C1E;
$blue                   : #00ADEF;
$pear                   : #C5CE10;
$flamingo               : #ED2A7B;

.bg-charcoal {
  background-color: $charcoal;
}

.bg-magenta {
  background-color: $magenta;
}

.border-box {
  box-sizing: border-box;
}

.outline-charcoal {
  @extend .border-box;
  border: 2px solid $charcoal;
}

.outline-magenta {
  @extend .border-box;
  border: 2px solid $magenta;
}

.color-white {
  color: $white;
}

.color-magenta {
  color: $magenta;
}
