@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700');

$font : 'Roboto', sans-serif;

.font {
	font-family: $font;
}

html, body {
	font-family: $font;
	color: $text;
	font-size: 16px;
}

.capitalize {
	text-transform: capitalize;
}

h1 {
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 32px;
}

h2 {
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 10px;
}

h3 {
	font-weight: 500;
	font-size: 18px;
}

h3 {
	margin-bottom: 4px;
}

h4 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
}

h5 {
	font-weight: 500;
	font-size: 16px;
	margin-bottom: 4px;
}

h6 {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 4px;
}

.error {
	font-style: italic;
	font-size: 12px;
	color: $gray;
}
