.header {
	$nav-height: 64px;
	$sub-nav-height: 36px;
	$border-stripe-height: 8px;
	$header-item-width: 120px;

	background: $charcoal;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	height: $nav-height;

	.img {
		height: $nav-height;
		margin-left: 48px;
	}

	.header-bar {
		height: $border-stripe-height;
	}

	.subnav-header-bar {
		@extend .header-bar;
		transition: opacity 0.9s ease;
		opacity: 0;
	}

	.flex-start {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	a {
		color: inherit;
		display: inline-block;
		text-decoration: none;
		font-weight: normal;
		position: relative;
		z-index: 3;

		&:hover {
			text-decoration: underline;
		}
	}

	.container {
    	align-items: flex-start;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.header-links {
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	.header-item {
		width: $header-item-width;
		display: flex;
		flex-direction: column;
		height: $nav-height;
		border-right: 1px solid $gray;
		transition: background-color 0.2s ease;
		background-color: rgba($white, 0);
		position: relative;

		&:last-child {
			border-right: 0px;
		}

		&:after {
			content: "";
		    position: absolute;
		    width: 100%;
		    height: $border-stripe-height;
		    top: 0;
		    transition: 0.25s;
		    cursor: pointer;
		}

		&:hover:after {
			height: 100%;
		}

		.header-link-item {
			padding: 4px 8px;
			color: $white;
		}

		a {
			height: 100%;
			text-decoration: none;
		}
  }

	#about:after {
		background-color: $pear;
	}

	#artists:after {
		background-color: $indigo;
	}

	#artwork:after {
		background-color: $magenta;
	}

	#login:after {
		background-color: $ochre;
	}

	.dropdown {
		width: $header-item-width;

		&:hover {
			.header-item + .dropdown-container {
				display: flex;
				flex-direction: column;
				padding-top: $border-stripe-height;
				background-color: $charcoal;

				.subnav-header-bar {
					opacity: 1;
				}

				.dropdown-content {
					justify-content: center;
					align-items: flex-end;

					.dropdown-link-item {
						padding: 8px 12px;
						height: $sub-nav-height;
						background-color: $charcoal;
						width: 100%;

						a {
							@extend .f7;
							text-transform: uppercase;
							color: $white;
						}
					}
				}
			}

			.header-item:after {
				height: calc(#{$nav-height} + #{$border-stripe-height});
			}
		}
	}

	.dropdown-container {
		display: none;
	}
}
