.header {
	$nav-height: 64px;
	$sub-nav-height: 36px;
	$border-stripe-height: 8px;
	$header-item-width: 120px;
	color: $text;
	background: $white;
	top: 0;
	width: 100%;
	z-index: 10;
	display: flex;
	height: $nav-height;

	.header-logo {
		height: 3rem;
		margin-left: 3rem;
		padding: .5rem 0rem;
	}

	.header-title {
		@extend .pa3;
		@extend .f3;
		@extend .w5;
		color: $text;
		font-weight: normal;

	}

	.header-bar {
		height: $border-stripe-height;
	}

	.subnav-header-bar {
		@extend .header-bar;
		transition: opacity 0.9s ease;
		opacity: 0;
	}

	.flex-start {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.container {
    align-items: flex-start;
		display: flex;
		justify-content: space-between;
		width: 100%;
		min-width: 1200px;
	}

	.header-links {
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	.header-item {
		width: $header-item-width;
		display: flex;
		flex-direction: column;
		height: $nav-height;
		border-right: 1px solid $pale-gray;
		transition: background-color 0.2s ease;
		background-color: rgba($pale-gray, 0);

		&:last-child {
			border-right: 0px;
		}

		.header-link-item {
			padding: 4px 8px;
			color: $text;
		}

		a {
			height: 100%;
			text-decoration: none;
		}
  }

	#about:hover {
		background-color: $gold;
	}

	#artists:hover {
		background-color: $denim;
	}

	#artwork:hover {
		background-color: $berry;
	}

	.dropdown {
		width: $header-item-width;

		&:hover {
			.header-item + .dropdown-container {
				display: flex;
				flex-direction: column;

				.subnav-header-bar {
					opacity: 1;
				}

				.dropdown-content {
					justify-content: center;
					align-items: flex-end;

					.dropdown-link-item {
						padding: 8px 12px;
						height: $sub-nav-height;
						background-color: $white;
						width: 100%;
						
						a {
							@extend .f7;
							display: inline-block;
							font-weight: normal;
							text-transform: uppercase;
							color: $text;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
			}

			#login {
				background-color: $moss;
			}
		}
	}

	.dropdown-container {
		display: none;
	}
}
