.items {
  display:inline-block;
  padding: 10px;
  vertical-align:top;
  padding-top: 10px;
  .li-text {
    padding:4px;
  }
}

#labels {
  font-weight: bold;
}

#date {
  vertical-align:bottom;
}

.content-row {
  display: flex;
  flex-direction: row;

  .request-content {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
}

.closed-request-button {
  float:right;
  margin:20px;
  margin-top:10px;
  padding:10px;
  font-size:16px;
  width:20%;
  background-color:#F2F2F2;
  text-align:center;

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .request-button {
      float:none;
    }

    .closed-request-button {
      float:none;
      width:40%;
      display:inline-block;

    }
}

.request {
  display: flex;
  flex-direction: column;
  border-top: 8px solid $mustard;

  .request-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
