.items {
  display:inline-block;
  padding: 10px;
  vertical-align:top;
  padding-top: 10px;
  .li-text {
    padding:4px;
  }
}

#labels {
  font-weight: bold;
}

#date {
  vertical-align:bottom;
}

.content-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  .request-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.closed-request-button {
  padding: 10px;
  font-size: 16px;
  background-color: $snow;
  text-align:center;
  width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .request-button {
      float:none;
    }

    .closed-request-button {
      float:none;
      width:40%;
      display:inline-block;

    }
}

.request {
  display: flex;
  flex-direction: column;
  border-top: 8px solid $mustard;

  .request-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .attr {
    display: flex;
    flex-direction: row;
    width: 100%;

    .key {
      width: 200px;
    }

    .value {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }
  }
}
