.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 800px;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-top: 8px solid $mustard;
  outline: none;

.cancel-button {
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  }
}

.overlay-class {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba($black, 0.5);
}
