/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require toastr
 */

@import "partials/reset";
@import "partials/colors";
@import "partials/fonts";

@import "tachyons-sass/tachyons.scss";

@import "pages/*";
@import "components/*";

body {
  background-color: $snow;
  min-width: 1200px;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0px auto;
}

.mt-auto {
  margin-top: auto; // aligns button to bottom of div
}

.fit-cover {
  object-fit: cover; // https://www.w3schools.com/css/css3_object-fit.asp
}

.mw-400 {
  min-width: 400px;
}

.col-list-2 {
  column-count: 2;
}

.col-list-3 {
  column-count: 3;
}

.col-list-4 {
  column-count: 4;
}

.col-item {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;

  .item-overlay {
    position: absolute;
    visibility: hidden;
    height: 48px;
    z-index: 5;
  }

  &:hover {
    .item-overlay {
      visibility: visible;
    }
  }
}

.prewrap {
  white-space: pre-wrap;
}

.scroll {
  &::-webkit-scrollbar-track {
    background: $snow;
  }

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
  }
}
