// Place all the styles related to the artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row-bio {
    height: 360px;
}

.filter-button {
    @extend .button;
    cursor: pointer;
    outline: none;
    width: 120px;
    height: 36px;
}

.artwork {
    min-width: 272px;
    .work-image {
        height: 200px;
    }
}