<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Requested Work Status Changed</h1>
    <p>
      The status of <%= @work.title %> has been updated from <strong><%= @prev_status %></strong>
      to <strong><%= @curr_status %></strong> by the artist. <br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
